<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    <div class="image">
      <img
        src="src/assets/admin/images/user.png"
        width="48"
        height="48"
        alt="User"
      />
    </div>
    <div class="info-container">
      <div
        class="name"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        John Doe
      </div>
      <div class="email">john.doe@example.com</div>
    </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="#"> <i class="material-icons">home</i> <span>Home</span> </a>
      </li>
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">perm_media</i> <span>Medias</span>
        </a>
        <ul class="ml-menu">
          <li><a href="#">Image Gallery</a></li>
          <li><a href="#">Carousel</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">pie_chart</i> <span>Charts</span>
        </a>
        <ul class="ml-menu">
          <li><a href="#">Morris</a></li>
          <li><a href="#">Flot</a></li>
          <li><a href="#">ChartJS</a></li>
          <li><a href="#">Sparkline</a></li>
          <li><a href="#">Jquery Knob</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">content_copy</i> <span>Example Pages</span>
        </a>
        <ul class="ml-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Forgot Password</a></li>
          <li class="active"><a href="#">Blank Page</a></li>
          <li><a href="#">404 - Not Found</a></li>
          <li><a href="#">500 - Server Error</a></li>
        </ul>
      </li>
      <li class="header">PERFIL</li>
      <li>
        <a href="javascript:void(0);">
          <i class="material-icons col-amber">donut_large</i>
          <span>Perfil</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <i class="material-icons col-light-blue">donut_large</i>
          <span>Salir</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- #Menu -->
  <!-- Footer -->
  <div class="legal">
    <div class="copyright">
      &copy; 2018 <a href="javascript:void(0);">cielito.me</a>.
    </div>
  </div>
  <!-- #Footer -->
</aside>
